<%= stylesheet_link_tag 'home' %>

<%= render 'shared/header' %>
<div class="wrapper">
    <!-- Side Bar -->
    <%= render 'shared/sidebar' %>
    <!-- Main Content -->
    <div class="container-wrap">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-4 col-lg-12">
                        <div class="card shadow mb-4">
                            <div class="card-header">
                                <h6>현황</h6>
                            </div>
                            <div class="card-body text-center">
                                <h6>광주확진자</h6>
                                <div class="card-text">
                                    <span>17</span>명
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12">
                        <div class="card shadow mb-4">
                            <div class="card-header">
                                <h6>현황</h6>
                            </div>
                            <div class="card-body text-center">
                                <h6>광주확진자</h6>
                                <div class="card-text"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12">
                        <div class="card shadow mb-4">
                            <div class="card-header">
                                <h6>현황</h6>
                            </div>
                            <div class="card-body text-center">
                                <h6>광주확진자</h6>
                                <div class="card-text"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-12">
                        <div class="card shadow mb-4">
                            <div class="card-header">
                                <h6>현황</h6>
                            </div>
                            <div class="card-body text-center">
                                <h6>광주확진자</h6>
                                <div class="card-text"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12">
                        <div class="card shadow mb-4">
                            <div class="card-header">
                                <h6>현황</h6>
                            </div>
                            <div class="card-body text-center">
                                <h6>광주확진자</h6>
                                <div class="card-text"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-lg-12">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header">
                                        <h6>현황</h6>
                                    </div>
                                    <div class="card-body text-center">
                                        <h6>광주확진자</h6>
                                        <div class="card-text"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header">
                                        <h6>현황</h6>
                                    </div>
                                    <div class="card-body text-center">
                                        <h6>광주확진자</h6>
                                        <div class="card-text"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12">
                        <div class="card shadow mb-4">
                            <div class="card-header">
                                <h6>현황</h6>
                            </div>
                            <div class="card-body text-center">
                                <h6>광주확진자</h6>
                                <div class="card-text"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-12">
                        <div class="card shadow mb-4">
                            <div class="card-header">
                                <h6>현황</h6>
                            </div>
                            <div class="card-body text-center">
                                <h6>광주확진자</h6>
                                <div class="card-text"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-12">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header">
                                        <h6>현황</h6>
                                    </div>
                                    <div class="card-body text-center">
                                        <h6>광주확진자</h6>
                                        <div class="card-text"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header">
                                        <h6>현황</h6>
                                    </div>
                                    <div class="card-body text-center">
                                        <h6>광주확진자</h6>
                                        <div class="card-text"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= render 'shared/footer' %>
<%= javascript_include_tag 'home' %>